.projects {
  padding: var(--spacing-xl) 0;
}

.grid {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
