/* src/styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Apply variables */
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--background);
  color: var(--text-color);
  line-height: 1.6; /* Improves readability */
}

/* Optional: Style headings */
h1,
h2,
h3 {
  color: var(--primary);
  margin-bottom: var(--spacing-sm);
}

html {
  scroll-behavior: smooth;
}

/* Offset for fixed navbar */
section {
  scroll-margin-top: 100px; /* Adjust based on your navbar height */
}
