/* src/styles/theme.css */
:root {
  /* Colors */
  --background: #1a1a1a;
  --text-color: #ffffff;
  --primary: #0cc8e5;
  --secondary: #077dcdd0;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --font-family: "Roboto", sans-serif;
  --font-size-base: 16px;
}
