.skillsContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: space-evenly;
  align-items: top;
}

.skillCategory {
  background: var(--background);
  border-radius: 8px;
  transition: transform 0.3s ease;
  max-width: 400px;
  flex: 1 1 300px;
}

.categoryTitle {
  color: var(--primary);
  font-size: 1.5rem;

  border-bottom: 2px solid var(--box-color);
}

.skillsList {
  list-style: none;
  padding: 0;
  gap: 0.75rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.skillItem {
  background: var(--box-color);
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.skillIcon {
  width: 50px;
  height: 50px;
}

.skillBox {
  max-width: 600px;
}

.skillsSection {
  max-width: 1200px;
}

@media (max-width: 800px) {
  .skillsContainer {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .skillCategory {
    flex: 1 1 45%; /* Two items per row */
    min-width: 280px; /* Minimum size before wrapping */
    margin-bottom: 1rem;
  }

  .skillsList {
    flex-flow: row wrap; /* Stack items vertically */
    justify-content: flex-start;
  }

  .skillItem {
    flex: 1 1 120px; /* Adjust item sizing */
  }
}
